stages:
  - test
  - deploy

image: timbru31/node-chrome:22-slim

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - node_modules/

before_script:
  - npm ci --cache .npm --prefer-offline

test:
  stage: test
  tags:
    - docker
  script: 
    - npx ng test --no-watch --no-progress --browsers=ChromeHeadlessCI --code-coverage
  artifacts:
    paths:
      - coverage/
    expire_in: 1 week
