stages:
  - test
  - deploy

image: browserless/chrome:1-chrome-stable

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - node_modules/

before_script:
  - npm ci --cache .npm --prefer-offline

test:
  stage: test
  tags:
    - docker
  script: 
    - npm run test -- --no-watch --no-progress
  artifacts:
    reports:
      junit: test-results.xml
    expire_in: 1 week
