@use 'colors.scss' as *;
@use '../styles/mixins.scss' as *;

.ng-sectionList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  height: 400px;
  background: var(--bg-color);
  transition: right 0.5s ease;
  border-radius: 7px;
  box-sizing: content-box;
  width: 240px;

  @include tablet {
    flex-direction: column;
    width: -webkit-fill-available;
    height: fit-content;
  }
}

.ng-sectionList__list {
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  &.active {
    > div {
      border-bottom: 2px solid;
    }
  }
}
