:host {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 40%;
}
.popup {
  font-size: 18px;
  max-width: 300px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  background: var(--primary-color);
}

.popup__header {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.popup__btnContainer {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.popup__btn {
  padding: 5px 10px;
}

.popup__textContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
