:host {
  word-break: break-all;
  width: -webkit-fill-available;
}

.article {
  display: grid;
  gap: 10px;
}

.article_titleContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.article_title {
  font-size: 22px;
}

.article_titleDate {
  font-size: 14px;
  top: 3px;
  position: relative;
}

.article__tags {
  width: -webkit-fill-available;
  display: flex;
  gap: 10px;
}
  
.article__tag {
  width: fit-content;
  font-size: 16px;
  color: var(--tags-color);
  line-height: 1.5;
  padding: 0 5px;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
}

.article_viewsIconContainer {
  width: fit-content;
}

.article_views {
  display: flex;
  align-items: center;
  gap: 5px;
}

.article_description {
  border-top: 3px solid;
  border-color: var(--warning-color);
}

.article_viewsCount {
  font-size: 12px;
  font-weight: 700;
}

.article_editButton {
  width: 100px;
  padding: 7px;
}

.article_editButtons {
  display: flex;
  gap: 10px;
}

.article_actionsButtons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.article_removeIconContainer {
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;

  &:hover {
    opacity: 0.9;
  }
}