@use 'colors.scss' as *;

:host {
  width: fit-content;
  display: block;
}

.ng-iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ng-icon {
  width: var(--icon_width, 24px);
  height: var(--icon_height, 24px);
  cursor: pointer;

  &.white {
    color: var(--color-white);
  }
}

.disabled {
  opacity: 0.5;
}
