  :host {
    display: block;
    width: var(--select-width, 250px);
    position: relative;
  }
  
  .custom-select {
    position: relative;
    
  
    input {
      cursor: pointer;
      width: -webkit-fill-available;
      padding: 10px;
      border: 1px solid var(--info-color);
      background-color: var(--bg-global);
      border-radius: 4px;
      font-size: 14px;
      position: relative;
      transition: all 0.3s ease;
  
      &:focus {
        border-color: var(--primary-color);
        outline: none;
      }
  
      + label {
        content: "";
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: 10;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        pointer-events: none;
        max-height: 14px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -12px;
        left: 10px;
        z-index: 10;
        background-color: var(--bg-color);
        font-size: 12px;
        transition: all 0.2s ease-in-out;
        padding: 3px;
      }
    }
  }
  
  .custom-select__values {
    margin-top: 5px;
    position: absolute;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    z-index: 20;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  .custom-select-item {
    padding-bottom: 7px;
    cursor: pointer;
    transition: 0.2s;
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--bg-color);
    }

    &:hover {
      opacity: 0.7;
      transition: 0.2s;
    }
  }